<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.proyectomov" >

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/page_title"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ProyectoMov" >

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity android:name=".MainActivity"
            android:screenOrientation="portrait"
            android:label="Med-UV">
           <!-- <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>!-->
        </activity>

        <activity
            android:name=".ui.login.LoginActivity"
            android:label="@string/page_title"
            android:screenOrientation="portrait">
            <!--<intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>!-->
        </activity>

        <activity
            android:name=".ui.login.RegisterUserActivity"
            android:label="@string/page_title"
            android:screenOrientation="portrait"
            tools:ignore="Instantiatable">
            <!--<intent-filter>
                 <category android:name="android.intent.category.LAUNCHER" />
                 <action android:name="android.intent.action.MAIN" />
             </intent-filter>!-->
        </activity>

        <activity
            android:name=".PerfilActivity"
            android:label="@string/page_title"
            android:screenOrientation="portrait">
            <!--<intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>!-->
        </activity>

        <activity
            android:name=".MapsActivity"
            android:label="@string/page_title"
            android:screenOrientation="portrait">
           <!-- <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>!-->
        </activity>

        <activity android:name=".RPerfilActivity"
            android:screenOrientation="portrait"
            android:label="Med-UV">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
    </application>

</manifest>